.hello{
  font-size: 25px;
}
.navbar{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #85f;
  height: 10vh;
  width: 100%;
  color: white;
  z-index: 1;
  position: fixed;
}
.container{
  position: relative;
  top: 10vh;
  display: flex;
  min-height: 90vh;
  height: fit-content;
  background-color: gainsboro;
}
.pub{
  flex: 1;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  border-radius: 6px;
  height: 85vh;
  position: sticky;
  top: 13vh;
  
  
}
.blog{
  flex: 4;
  margin: 20px;
}
.article{
  margin: 20px;
  border-radius: 6px;
  padding: 15px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.56);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.56);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.56);
background-color: white;
}
.article-text{
  font-size: 15px;
  
}
.article-title{
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 10px;

}